@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    scroll-padding-bottom: 40px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.42);
    pointer-events: none;
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.container-transaction {
    position: absolute;
    top: 60%;
    left: 49%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 40%;
    border-radius: 10px;
    margin: 16px;
    margin-top: 4%;
    background: white;
    padding: 16px;
}
.container-transaction.active {
    transform: translate(-50%, -50%) scale(1);
}
